.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  vertical-align: sub;
}

.logo-img {
  width: 210px;
}

.color-base-color-primary80 {
  color: #004d73;
}

.color-base-color-neutral80 {
  color: #464646;
}

.text-to-be-updated {
  margin: 0 2em;
}
